.color-black {
  color: $black;
}

.color-gray {
  color: $gray;
}

.color-white {
  color: $white;
}

.color-blue {
  color: $blue;
}

.bg-black {
  background-color: $black;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-green {
  background-color: $green;
}

.bg-green-gradient {
  background-color: $green-gradient;
}

.bg-orange {
  background-color: $orange;
}
