button {
  background: $green-gradient;
  color: $white;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid $black;
  border-radius: 0.25em;
  appearance: none;
  transition: 0.3s;
}