$black: #24292e;
$gray: #586069;
$gray-light: #d1d5da;
$gray-lighter: #fafbfc;
$white: #ffffff;

$blue: #0366d6;
$blue-lighter: #f1f8ff;
$blue-light: #c8e1ff;

$green: #28a745;
$green-gradient: linear-gradient(-180deg, #34d058 0%, #28a745 90%);

$orange: #e36209;
